<!--<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="/css/editarPerfil.css"/>
  <title>Editar Perfil</title>
</head>
<body>
  <!-- Menú -->
  <!--<div class="menu">
    <div class="LOGO">Editar Perfil</div>
    <nav class="navbar">
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/perfil">Ver Perfil</a></li>
      </ul>
    </nav>
  </div>

  <!-- Sección principal -->
  <!--<section class="contact">
    <div class="contact-content">
      <h2>Editar Perfil</h2>

      <!-- Formulario principal -->
      <!--<form method="POST" action="/editar" enctype="multipart/form-data">
        <input type="text" name="nombre" placeholder="Nombre completo" value="<%= data.nombre %>" required />

        <input type="text" name="especialidad" placeholder="Especialidad" value="<%= data.especialidad %>" required />

        <label for="skills-select">Lenguajes principales:</label>
        <select name="skills-select" id="skills-select">
          <option value="">Selecciona uno</option>
          <option value="React">React</option>
          <option value="Node.js">Node.js</option>
          <option value="Angular">Angular</option>
          <option value="Laravel">Laravel</option>
          <option value="CSS">CSS</option>
        </select>
        <input type="email" name="email" placeholder="Correo electrónico" value="<%= data.email %>" required />
       
        <!-- Subir nueva foto -->
       <!--- <label for="foto">Actualizar foto de perfil:</label>
        <input type="file" id="foto" name="foto" accept="image/*" />

        

        <button type="submit" class="btn-3">Guardar Cambios</button>
      </form>
    </div>
  </section>
</body>
</html>
