<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/loandig.css">
    <link rel="icon" href="/img/LOGO.png">
    <title>CloudUP</title>
</head>
<body>
    <a href="/" class="LOGO"><img src="/img/LOGO.png" alt="Logo"></a>
    <div class="wrapper">
        <div class="from-wrapper sign-in">
            <form action="/loginProgramin" method="POST">
                <h2>INICIO DE SESIÓN</h2>
                <div class="input-group">
                    <input type="text" name="nombre_usuario" required> 
                    <label for="">Nombre de Usuario</label>
                </div>
                <div class="input-group">
                    <input type="password" name="contraseña" required> 
                    <label for="">Contraseña</label>
                </div>
                <div class="remember">
                    <label><input type="checkbox" name="remember">
                        Recuerda mi usuario</label>
                </div>
                <button type="submit">ENTRAR</button>
                <div class="signUp-link">
                    <p>No tienes una cuenta?<a href="/registerProgramin" class="signUpbtn-link"> Regístrate</a></p>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
